*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.mainContainer
{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countDownContainer
{
    width: 100%;
    max-width: 700px;
    background-color: rgb(39, 38, 38);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hidden
{
    display: none;
}

.countDownContainer input
{
    height: 2rem;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 200px;
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.remainingTimeContainer span
{
    color: orangered;
    font-size: 40px;
    font-weight: 400;
}

.remainingTimeContainer .colon 
{
    color: rgb(53, 82, 106);
}

.buttonContainer
{
    margin-top: 20px;
    margin-bottom: 10px;
}

.buttonContainer button
{
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(230, 202, 150);
    background-color: rgb(56, 56, 55);
    border: none;
    font-size: 20px;
}