*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(40, 40, 40);
}

.mainContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-section{
    height: 25%;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.clock-section span {
    font-size: 30px;
}