.slider
{
    width: 100%;
    border: 5px solid red;
    height: var(--height);
    overflow: hidden;
}

.slider .list
{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)*var(--itemsNumber));
    position: relative;

}

 .list .items 
{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc((10s / var(--itemsNumber)) * (var(--position) - 1));
}

.list .items img
{
    width: 100%;
    height: 100%;
}

@keyframes autoRun {
    from{
        left: 100%;
    }
    to
    {
        left:calc(var(--width)*-1)
    }
}