*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(54, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerContainer
{
    width:100%;
    height: 200px;
    border-radius: 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 150, 150);
}

.timeContainerChild span{
    font-size: 30px;
}

.timerContainer .buttonContainer .button
{
    padding:10px 30px;
    border-radius: 10px;
    border: none;
}