*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

.animation-container
{
  position: relative;
  overflow: hidden;
  height: 60%;
  width: 60%;
  background-color: rgb(41, 40, 40);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.heart
{
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 60px;
  /* background-color: red; */
  border-radius: 50%;
  animation: floating 2s linear forwards;
}

@keyframes floating {
  0%{
    transform: translate(-50%,-50%);
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-1000%);
    opacity: 0.5;
  }
}